@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Play:wght@700&display=swap');

* {
    color: black;
    font-size: 10px;
    font-family: 'Play', sans-serif;
}

body {
    border: 1px solid black;
}

/* Generic */
p {
    font-size: 1.25rem;
    font-family: 'Play', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.25rem;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', sans-serif;
}

.main-heading {
    font-size: 3rem;
    color: #831717;
    text-shadow: 3px 2px 1px rgba(150, 150, 150, 1);
    text-align: center;
}

.button-bg-color {
    background-color: #d2d2af;
}

button.button-bg-color:hover {
    background-color: #e7e97e;    
}

form .form-label {
    color: #5c5c5c;
}

.no-padding {
    padding: 0;
}

/*  Navigation Styling  */

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    float: none;
}

nav ul li a {
    color: black;
    font-weight: bolder;
    font-size: 1.5vw;
    display: inline-block;
}

.menu-icon i {
    font-size: 4vh;
}

nav {
    border-bottom: 1px solid black;
    font-family: 'Play', sans-serif;
    background-color: #ffffff;
}

nav .brand-logo {
    min-height: 100%;
}

#no-margin-banner {
    margin-bottom: 0;
}

/* Base Template */

.banner-bg-color {
    border-bottom: 1px solid black;
    background-color: #d2d2af;
}

main {
    background-image: url("../images/bg-small.jpg");
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-size: cover;
}

#main-cont {
    background-color: rgba(255, 255, 255, 0.4);
}

.alert-error {
    color: rgb(150, 33, 33);
}

.alert-message {
    color: green;
}

/* Home Page */

.landing-sub {
    color: #831717;
    font-weight: bolder;
}

a.anchor-links {
    color: #ff0606;
    font-size: 1rem
}

a.anchor-links:hover {
    color: #e26060;
}

.small-text {
    font-size: 1rem;
}

.resturant-images {
    width: 100%;
    border: 1px solid black;
}

/* Resturant Page */
.resturant-header {
    font-size: 2rem;
    color: #831717;
    font-family: 'PT Serif', sans-serif;
}

.resturant-sub {
    font-size: 1rem;
}

#search-btn {
    margin-top: 20px;
}

.card-collapse {
    background-color: #d2d2af;
    border: 1px solid black;
}

#search-header {
    font-size: 2rem;
    color: #831717;
    font-family: 'PT Serif', sans-serif;
    margin: 0;
    letter-spacing: 1.3px;
}

#search-sub {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
    letter-spacing: 1.1px;
}

#search {
    font-size: 2rem;
    color: #831717;
}

/* Edit Resturant Page */
#save-btn {
    background-color: rgb(57, 168, 57);
    color: black;
    font-weight: 700;
}

.fa-edit:before {
    margin-left: 19px;
}

/* Contact Page */
.email-response {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}



/* Footer */
footer {
    border-top: 1px solid black;
    background-color: #d2d2af;
}

.footer-title {
    font-size: 1.5rem;
    color: #5b4205;
    font-family: 'PT Serif', sans-serif;
}

.footer-content {
    font-size: 1rem;
}

.footer-content a:hover {
    font-size: 1.5rem;
    color: green;
}

.footer-copyright {
    font-size: 10px;
}

#no-margin-footer {
    margin-bottom: 0;
}



