{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="col s12 l8 offset-l2" method="POST" action="{{ url_for('edit_resturant', resturant_id=resturant._id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="card-panel">
                    <h1 class="main-heading">Edit Resturant</h1>
                    <!-- Resturant Type Populated from categories collection-->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-caret-square-down prefix text-darken-4"></i>
                            <select id="resturant_type" name="resturant_type" type="text" class="validate" required>
                                <option value="" disabled selected>Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.resturant_type }}">{{ category.resturant_type }}</option>
                                {% endfor %}
                            </select>
                            <label for="resturant_type" class="form-label">Resturant Type</label>
                        </div>
                    </div>
                    <!-- Location -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-location-arrow prefix text-darken-4"></i>
                            <input id="location" name="location" type="text" class="validate" value="{{ resturant.location }}" required>
                            <label for="location" class="form-label">Location</label>
                        </div>
                    </div>
                    <!-- Drink Style -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-calendar-alt prefix text-darken-4"></i>
                            <input id="drinkstyle" name="drinkstyle" type="text" class="drinkstyle" value="{{ resturant.drinkstyle }}" required>
                            <label for="drinkstyle" class="form-label">Date</label>
                        </div>
                    </div>
                    <!-- resturant Description -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-align-justify prefix text-darken-4"></i>
                            <textarea id="description" name="description" type="text" class="materialize-textarea validate">{{ resturant.description }}</textarea>
                            <label for="description" class="form-label">Description</label>
                        </div>
                    </div>
                    <!-- Food Genere -->
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2">
                            <i class="fas fa-signature prefix text-darken-4"></i>
                            <input id="foodstyle" name="foodstyle" type="text" class="validate" value="{{ resturant.foodstyle }}">
                            <label for="foodstyle" class="form-label">Organiser</label>
                        </div>
                    </div>
                    <!-- Create resturant Submit Button -->
                    <div class="row">
                        <div class="col s12 m6 center-align">
                            <!-- cancel button -->
                            <a href="{{ url_for('get_resturants') }}" class="btn-large red text-shadow">
                                Cancel <i class="fas fa-times-circle right"></i>
                            </a>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button type="submit" class="btn-large text-shadow" id="save-btn">
                                Save <i class="fas fa-edit right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}